{{!--
  ECLIPSE Crew Management System
  Group 79 - Jenna Rivera and Kaelee Duong
  Main Header Handlebars Template for CS340 Final Project

  Citations:
  - All code was written by Group 79 members.
 --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>ECLIPSE Crew Management System</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/dancers">Dancers</a> |
      <a href="/performers">Performers</a> |
      <a href="/performances">Performances</a> |
      <a href="/practices">Practices</a> |
      <a href="/locations">Locations</a> |
      <a href="/dancerpractices">Dancer Practices</a>
    </nav>
    <hr>
  </header>

  {{{body}}}
</body>
</html>
